[2017-03-23 17:32] CanKattwinkel opened #1 "[error] Failed to render application: Error: Cannot find a module matching the name src/app with a symbol AppModule ="
Thrown in fresh NG4 Application (Angular CLI)

my proceeding:
[code]

[code]

**package.json**
[code]

 **ng --version**
[code]

[2017-03-23 20:03] gdi2290 opened #2 "yo"
Can I jump on call with you to for a code walkthrough?

[2017-03-23 20:03] clbond commented on #2
Sure. Tomorrow afternoon? What timezone are you in?

[2017-03-23 20:05] clbond commented on #1
Yes, it doesn't work with yarn for some reason. I have no idea why that is. I am planning to investigate. In the meantime if you manage everything with `npm` it should be OK.

[2017-03-23 20:11] gdi2290 commented on #2
I'm EST what email do you use for google hangouts?

[2017-03-23 20:26] CanKattwinkel commented on #1
@clbond thanks for your fast reply!

Unfortunately I'm experiencing same issues using npm. What version of npm / cli are you using?

[code]

[2017-03-23 20:53] clbond commented on #1
Ah, my bad. Execute this command: `npm install typescript@2.2.0 --save` and then re-run `ng-render`.

[2017-03-23 21:16] clbond commented on #1
Actually, this was an issue with my `package.json`. It is fixed by https://github.com/clbond/angular-ssr/commit/448f341a839dca6f3399b238488ce7647ba4bc30. Closing this issue. If you generate a new project and do `yarn add angular-ssr` and then `ng-render`, it works.

[2017-03-23 21:16] #1 closed

[2017-03-23 22:13] clbond commented on #1
Did that solve your issue @CanKattwinkel?

[2017-03-24 13:27] clbond commented on #2
chris.bond@rangle.io

[2017-03-24 16:29] kbarralon opened #4 "Typescript Error"
Hello,

Thanks for your work, it is wonderful !

When I try to run the command `npm run build` on a Cli project (I replaced the src folder with my project), I have this Typescript error (after the ng build) :

[code]

Do you have an idea ?

Thanks

[2017-03-24 19:09] clbond commented on #4
Your code must be compilable by `tsc` in order to work with `ng-render`. I suggest just fixing the code errors by importing / exporting the types it is complaining about. Once `tsc` passes, then you can do `ng-render`.

[2017-03-24 19:09] #4 closed

[2017-03-24 19:09] clbond commented on #2
I am available now if you want to chat

[2017-03-26 17:17] MarkPieszak commented on #2
@gdi2290 Yo you guys talk already, would love to jump in if possible ?
Been looking at this as well, looks pretty damn amazing @clbond

[2017-03-26 17:37] MarkPieszak opened #5 "Windows - Failed to render application: Error: Cannot find a generated NgFactory matching the name with symbol AppModule"
`ng new whatever`
`npm i --S angular-ssr`
`npm run build` (doing ng-render) after

`Failed to render application: Error: Cannot find a generated NgFactory matching the name src\app\app.module with a symbol AppModule`

(Same with /example/CLI app)

[2017-03-26 18:19] clbond commented on #5
Which version of `ng` are you using? angular-ssr depends on Angular 4+, so depending on which version of `ng` you are using you might need `--ng4`.

[2017-03-26 18:20] MarkPieszak commented on #5
The latest 1.0.0, tried the examples/cli app as well, same thing strangely.

[2017-03-26 18:22] clbond commented on #5
Hmm, that's really strange. This is what I get in a fresh checkout:

[code]

[2017-03-26 18:24] clbond commented on #5
When I have seen that problem before, it's because conflicting versions of `typescript` are being imported into the program somehow. If you have a global installation of `typescript`, try removing or upgrading it.

[2017-03-26 18:24] MarkPieszak commented on #5
Let me remove the global one and give it a shot.
I'm on windows 10 as well, if that could make any possible difference.

One sec, testing

[2017-03-26 18:24] clbond commented on #5
Ohhhh.... windows. Ya I have never tried it on Windows to be honest with you

[2017-03-26 18:25] clbond commented on #5
If you have time to do some screensharing I would be happy to debug it with you

[2017-03-26 18:30] MarkPieszak commented on #5
Hey yeah I have time today, that'd be amazing love to hear about the story here 👍

It seems to be blowing up here:
https://github.com/clbond/angular-ssr/blob/318ad4801a79717d7143d36d595bd4cf6fe1f036/source/application/compiler/program.ts#L76-L79

[code]

Somehow isn't compiling properly, even after removing typescript from global.

[2017-03-26 18:32] clbond commented on #5
I just published a new commit that will spit out debug info. Can you `npm install angular-ssr@0.0.74` and try `npm run build` again?

[2017-03-26 18:33] clbond commented on #5
You are not the first person to report this problem so I would definitely like to solve it. It never even occurred to me that people would want to use it in Windows ;)

[2017-03-26 18:34] MarkPieszak commented on #5
Of course, let me know when to install.

Yeah windows is an unfortunate part of life 💃 lol

[2017-03-26 18:39] MarkPieszak commented on #5
Tried the latest 74, different error at least!
Got a lot of these:

[code]

[2017-03-27 13:24] clbond commented on #5
I am going to close this because we solved it in our screensharing session. It sounds like you are having other issues with your project though so feel free to open new issues related to that

[2017-03-27 13:24] #5 closed

[2017-03-27 13:26] clbond opened #6 "Does not wait for HTTP requests to finish before rendering the application"
Because of the way angular-ssr does HTTP (using an XMLHttpRequest emulation layer), and because we use zone-node instead of zone browser, zone does not automatically hook in to HTTP requests when deciding if the zone is stable or not. So there needs to be a fix that addresses this in `waitForApplicationToBecomeStable`.

[2017-03-27 13:30] clbond commented on #2
Hey @MarkPieszak. If you can make your code available to me, I would be happy to get it working with angular-ssr. That might be more efficient than going back and forth on these issues

[2017-03-27 13:50] gdi2290 commented on #2
kool I invited and created a group

[2017-03-27 20:35] clbond commented on #6
This has been resolved

[2017-03-27 20:35] #6 closed

[2017-03-28 01:24] MarkPieszak opened #7 "element.innerText returning null"
Like we were talking about earlier, could be a domino issue not sure, just wanted to log in just incase.

[code]

[2017-03-28 17:24] MarkPieszak opened #9 "Cannot set property 'title' of undefined at BrowserDomAdapter.setTitle"
Seems that we need to make sure we're patching the `Title` service correctly. Might need to look into if the Meta service is doing the same.

To repro:
`this.title.setTitle(' blow up the server :) ')`

[code]

[2017-03-28 17:52] guzuomuse commented on #7
same scenario with jquery even use isBrowser() or not.

[2017-03-31 11:29] CanKattwinkel commented on #1
@clbond just to confirm: yes this issue was solved - thank you very much!

[2017-03-31 11:35] CanKattwinkel opened #14 "SCSS Support?"
Hello,

what is the current state for SCSS?

I've found this [commit](https://github.com/clbond/angular-ssr/commit/fa012ca934d05c98be83da0890935c1facd53bc6) but I'm receiving many errors in an existing project. I think this is caused by wrong interpreted scss imports inside of .scss files.

**Example:**
[code]

Import in someFile.scss (usage)
`@import "mixins/background-gardient";`

Real Filename:

[2017-03-31 13:58] leo6104 opened #15 "[Feature request] support stack trace for rendering exception"
Thank you for developing awesome ssr project.

In my project, 'ng-render' command displayed an error message..

**[error] Failed to render application: SyntaxError: Unexpected token import =**

With this message, i can't find out which file has problem.

https://github.com/clbond/angular-ssr/blob/master/source/bin/render.ts#L32

Can you support stack trace for rendering application exception?

[2017-03-31 14:28] leo6104 commented on #15
i can trace the erorr with modifying 'node_modules/angular-ssr/build/bin/render.js' (directly modify compiled js)

i just add console.log.

                exception_1 = _a.sent();
                index_1.log.error("Failed to render application: " + exception_1.toString());
                console.log(exception_1);
                process.exitCode = 1;
                return [3 /*break*/, 4];

ang

[2017-03-31 14:33] leo6104 commented on #14
In my case, i can reolsve the problem with specifying the extension 'scss'

ex)
@import "mixins/background-gardient.scss";

[2017-03-31 15:54] clbond commented on #14
Hmmm. Thank you for the note both @CanKattwinkel and @leo6104. I'll try to fix the scss import behaviour

[2017-03-31 15:55] #2 closed

[2017-04-01 05:48] leo6104 commented on #15
the error 'cssText.replace is not a function' can be resolved with webpack - sass lodaer configuration.

Install to-string-loader plugin ( npm install to-string-loader )
Add to-string-loader to webpack configuration.

`{
  test: /\.scss$/,
  use: ['to-string-loader', 'css-loader', 'sass-loader'],
}`

[2017-04-11 15:46] vlodkow opened #18 "Error on "npm run watch""
Pure installation and run "watch" get me console errors (when revert angular-ssr to 0.1.18 all working fine):

[code]

[2017-04-11 16:25] clbond commented on #18
Ah, sorry, my bad! This should be fixed in the latest code. Would you mind pulling the latest code and verifying that this issue is resolved for you?

[2017-04-11 16:26] clbond commented on #15
Hi @leo6104, I believe all these issues should be resolved now that `ng-render` integrates with webpack. Your error should be gone now if you try with the latest version (`0.1.40`). If it is not, you can use the `--debug` flag on `ng-render` to get a full stack trace! Would you mind letting me know if your issue is indeed solved by the latest code? Thank you very much!

[2017-04-11 16:27] clbond commented on #14
Hi @CanKattwinkel. This should be resolved in the latest version, `0.1.40`, because it has proper webpack integration. Would you mind verifying that your SCSS issue is resolved so that I can close this issue?

[2017-04-11 16:31] clbond commented on #9
Hi @MarkPieszak, thank you for this report. This should be resolved in the latest version of the library. Would you mind verifying so I can close this ticket?

[2017-04-12 02:38] leo6104 commented on #15
@clbond Now i can find out the root cause!👍👍
In my project, error message changed like this.
[code]
the root cause is occured from 'declare $: jQueryStatic;' code in 3rd party library 'angular2-froala-editor'.
Thank you very much!!

[2017-04-12 02:38] #15 closed

[2017-04-12 02:43] leo6104 commented on #14
@clbond I verify this issue with my project. It now works even if not specify the scss extension.

[2017-04-12 10:16] #18 closed

[2017-04-12 13:15] clbond commented on #18
Thank you very much! I am going to add some e2e tests on demand-express to prevent it from breaking in the future.

[2017-04-12 21:28] clbond commented on #14
Awesome! Thank you @leo6104. Closing

[2017-04-12 21:28] #14 closed

[2017-04-21 14:48] smithad15 opened #19 "Material Support and ValidityState API"
I'm having an issue when pre-rendering an angular material beta 3 project using `ng-render`. It is failing on this line: https://github.com/angular/material2/blob/2.0.0-beta.3/src/lib/input/input-container.ts#L243 as `validity` is `undefined` on the native element that's being returned. If Domino doesn't support the [ValidityState web API](https://developer.mozilla.org/en-US/docs/Web/API/ValidityS

[2017-04-21 14:50] smithad15 opened #20 "ng-render doesn't fail on CI"
When an error is propagated from https://github.com/clbond/angular-ssr/blob/master/source/application/builder/prerenderer.ts#L23, it does not currently exit the process with the proper error code for CI to fail. Can we add a `process.exit(1)` call somewhere to cover this?

[2017-04-21 17:37] smithad15 commented on #20
Closing as resolved with v0.1.82

[2017-04-21 17:37] #20 closed

[2017-04-23 12:11] vlodkow opened #21 "Error: Hammer.js is not loaded"
When trying to use hammerjs, get error on server side.

[2017-04-26 06:55] DmitryEfimenko opened #22 "Does not work on this simple project"
Hey, first of all, thanks a lot for your effort on this much-needed project.

However, I cannot seem to make it work for my simple [5-pages project](https://github.com/NoDrainer/web).
I tried to follow the steps in [this example](https://github.com/clbond/angular-ssr/tree/master/examples/cli), but I keep getting an exception.

Would you please be kind to see what might be the issue? I'm wondering

[2017-04-27 15:23] GarryBrown opened #23 "TypeError: Cannot read property 'badInput' of undefined"

[2017-04-27 15:28] #23 closed

[2017-04-27 15:34] GarryBrown commented on #23
Some kind of magic help me.
Error occured by reason of
`<md-input-container class="example-full-width">
      <input mdInput placeholder="Login" name="username"  [(ngModel)]="username">
 </md-input-container>`
When remove it, error doesn't occur. But later all working. Sorry for issue.

[2017-04-28 09:43] darcksday opened #24 "How to return status code 404 on server side?"
Server returned status code 200 each page

[2017-04-28 11:11] vlodkow opened #25 "Some example for State transfer from server to client"
Can you provide example to transfer state from server to client (for example in demand-express), because readme is not clearly show how to implement this.

[2017-04-28 23:51] buu700 opened #26 "ng-render failing with out of memory error"
Tested with angular-ssr 0.1.88, Angular 4.1, TypeScript 2.3.1, and Node 7.9.0 on Debian Sid in a Docker container with 2 GB RAM allocated.

[My project](https://github.com/cyph/cyph) doesn't use the Angular CLI, but otherwise it should be a typical enough Angular project that I wouldn't expect any issues working with angular-ssr (routes configured with @angular/router, AOT with webpack + @ngtools/

[2017-04-30 08:21] buu700 commented on #26
Looks like the problem is that `PathImpl.parent()` doesn't work when the path is "."; it just returns the same path, causing `patchModuleSearch` to loop infinitely.

Setting `--project` to `${PWD}` instead of `.` in my script resolved this error.

[2017-04-30 19:59] buu700 opened #27 "Error: Cannot find a generated NgFactory"
`ng-render` is consistently failing with the error `[error] Failed to render application: Error: Cannot find a generated NgFactory matching the name cyph.com/app.module with a symbol AppModule`, or `... cyph.com/app.module.ngfactory ... AppModuleNgFactory`.

I've tried the following with the same or similar results:

* Doing AOT via webpack + @ngtools/webpack

* Doing AOT via `ngc` directly

* Swi

[2017-05-02 15:12] clbond commented on #19
Yes. This has been resolved and `md-input`s work now.

[2017-05-02 15:12] #19 closed

[2017-05-02 15:14] clbond commented on #26
Thank you! I will fix `PathImpl`

[2017-05-02 15:14] #26 closed

[2017-05-02 15:20] clbond commented on #22
I can't build the project at all (just with `ng build`):
[code]

[2017-05-02 15:21] clbond commented on #27
Hmm. Your application does not use Angular CLI or webpack?

[2017-05-02 15:22] clbond commented on #24
This is because the client application is responsible for routing. You can configure this in whatever way makes sense for your application.

[2017-05-02 15:22] #24 closed

[2017-05-02 15:23] clbond commented on #21
Is it an error or a warning about hammerjs not being loaded?

It doesn't really make sense to use hammerjs on the server since there is no mouse interaction. You should just do `import "hammerjs"` in your `main.ts` file and leave it out of the server build

[2017-05-02 15:23] #21 closed

[2017-05-02 15:24] #9 closed

[2017-05-02 15:26] clbond commented on #25
You just call `builder.stateReader(MyStateReader)`, where `MyStateReader` is something like:

[code]

[2017-05-02 15:26] #25 closed

[2017-05-02 15:50] buu700 commented on #27
We aren't using the Angular CLI, but we do use webpack with the @ngtools AOT plugin (although as mentioned while debugging this I tried using `ngc` directly as well).

Just to give an idea of the different permutations of things I've tried, this is what the relevant part of the script currently looks like (have commented/uncommented different things, alternated between relative and absolute paths,

[2017-05-02 16:25] nicholasnafpliotis opened #28 "Unable to use with newly created Angular4 site using "ng new". Issue with sourceFile['symbol'].exports"
These are the steps I take to reproduce the issue.

1) ng new example
2) cd example
3) npm install
4) npm install --save angular-ssr
5) ng build
6) ./node_modules/.bin/ng-render

I get the following error:

C:\tests\example\node_modules\angular-ssr\source\application\static\find.ts:16
  const exports: Map<string, any> = sourceFile['symbol'].exports;

[2017-05-02 16:27] nicholasnafpliotis commented on #28
One of the first things I thought of was that it was failing because there was no routing going on, so I added a few basic routes, and I still get this same error.   I also tested this on my Mac and I get the same error as well, just in case it was a windows only issue.

[2017-05-02 18:03] DmitryEfimenko commented on #22
Please make sure you have latest.
I updated installation and build info in README. The project uses yarn extensively to avoid local dev misconfiguration.
Please try installing all deps using `yarn` as well as building app: `yarn run build.dev`.

I also deleted my local version and followed all these steps myself to make sure all works.

[2017-05-02 19:37] dxvladislavvolkov opened #29 "Error: Cannot instantiate cyclic dependency!"
Hello!
I have the handler for the DOMContentLoaded event.
When I delete the event handler, I get the code recursion.

To reproduce the problem, you can use the following code.
[code]
Error:
callback
callback
callback
callback
callback
callback
callback
callback
callback
[2017-05-02T19:32:00.196Z] [error] [] Failed to render application: Error:  caused by: Cannot instantiate cyclic dependency!: Err

[2017-05-02 20:06] dxvladislavvolkov opened #30 "Some native methods aren't implemented"
When I use Number and getClientRects methods I get errors:

Failed to render application: TypeError: elem.getClientRects is not a function
Failed to render application: TypeError: Number is not a function

[2017-05-03 18:00] DmitryEfimenko commented on #22
Please let me know if you still unable to build project

[2017-05-04 13:05] stratio84 commented on #28
I'm getting the exact same error in my project.

Do anyone has any idea on how to solve this problem?

Thanks

G.

[2017-05-06 12:45] stratio84 commented on #28
I think it's missing a webpack configuration that causes this error.
@clbond do you have any idea how to overcome this issue?

Thanks,

G.

[2017-05-07 12:56] stratio84 commented on #28
I managed to understand the problem and fix the issue. When you create a new project with "ng new" inside your tsconfig.app.json and tsconfig.spec.json files you will have this line:

`"extends": "../tsconfig.json"`

This line is causing the issue. If you delete it from both the files and import the config you need from the tsconfig.json directly inside the two files the ssr process will execute c

[2017-05-10 19:08] DmitryEfimenko commented on #22
hey, after trying to make it work following some other examples, I stumbled on the same error you were talking about. Basically, the command `ng build`, which I use to build a project does not give any errors. However, running `ngc` would give me that error. I fixed it. `running ngc` works, but I'm getting another error at some later step now while trying to run `ng-render`.

Please get latest and

[2017-05-11 02:28] buu700 commented on #27
Well, not exactly sure what was causing this, but I set up a branch with our project folder converted into the Angular CLI structure and it's resolved! I am running into #28 now, though.

[2017-05-11 05:42] buu700 opened #31 "Domino Element.prototype.outerHTML.set"
Edit: found the problem. Apparently domino doesn't like [DOMPurify](https://github.com/cure53/DOMPurify). Specifically, it needs to be able to use `Element.prototype.outerHTML.set`.

Haven't investigated to find out what's triggering it yet, but running `./node_modules/.bin/ng-render --debug` after `ng build` in my project produces the following error:

[code]

Package versions:

* @angular/*: 4.1

[2017-05-11 11:34] GarryBrown opened #32 "Current document does not have a doctype"
Hi! I'm use cli from example dir and it's amazing! Thx!
But Angular Material show warning logs and some components behavior  breaks because of html after build does not have a doctype.
In browser : "Current document does not have a doctype. This may cause some Angular Material components not to behave as expected."

May you add to build generator <doctype> in html document?

[2017-05-11 16:21] clbond commented on #32
I think that warning is spurious, but I will take a look. Thank you

[2017-05-11 16:22] clbond commented on #31
Yes, that method is not implemented in domino. Can you link me the repo that this is happening in?

[2017-05-11 16:23] clbond commented on #30
Hmm - `Number is not a function`? I can't imagine that could be true. Is something overriding `Number`? Can you link me the code?

[2017-05-11 16:25] clbond commented on #22
Alright, I'll take a look this weekend

[2017-05-11 16:28] clbond commented on #28
You can avoid that error just by passing `--module relative/path/to/app.module` and `--symbol AppModule`. Replace those values with the path to your root module and the name of the symbol. That should fix the problem and let you use your normal tsconfigs. I will look into a proper fix when I get a bit of free time this weekend

[2017-05-11 16:29] clbond commented on #27
@buu700 You can resolve the #28 issue by passing `--module app/app.module --symbol AppModule` (or whatever the right values are for your project). This is a workaround - I will investigate a proper fix. Can you give me access to this code?

[2017-05-11 16:30] clbond commented on #29
Can you point me to the code that this happens in?

[2017-05-11 16:31] clbond commented on #31
You are probably going to have to create a workaround and avoid using `outerHTML`. `domino` doesn't implement it and I am not confident that I can come up with a working implementation right now

[2017-05-11 16:31] #31 closed

[2017-05-11 16:32] clbond commented on #7
`innerText` is not recommended - can you use `textContent` instead?

[2017-05-11 16:32] #7 closed

[2017-05-11 16:43] GarryBrown commented on #32
For example, size of modals and labels of inputs breaks in my case.  But when i add doctype manually it's works and warnings hides.

[2017-05-11 17:57] buu700 commented on #31
Got it, thanks, I can work around it in this case then.

[2017-05-11 18:14] buu700 commented on #27
Perfect, thanks! That's a much more convenient workaround than merging tsconfig files by hand.

Here's the Angular CLI version that's running into #28: https://github.com/cyph/cyph/tree/3f01d0ba8ab20226cd2173369ef1e1257423c1cb/cyph.com

And here's the pre-Angular-CLI version that was running into this issue (the exact state that triggers the problem is in the middle of a build script): https://git

[2017-05-11 18:56] buu700 opened #33 "TypeError: Cannot read property 'bind' of undefined"
It looks like angular-ssr doesn't like rxjs (version 5.3.1*)? After resolving or working around all other issues, ng-render now fails with this error:

[code]

\* Edit: Also reproduced using rjxs 5.4.0 / Angular 4.1.2 / angular-ssr 0.1.100.

[2017-05-11 18:59] buu700 commented on #28
Manually flattening my tsconfigs works as expected, but the module/symbol workaround seems to consistently fail with this error:

[code]

[2017-05-16 15:32] darcksday opened #34 "State transfer"
How check state of data  on client side ?

[2017-05-16 18:12] designcourse opened #35 "TypeError: Cannot read property 'exports' of undefined"
I'm following the instructions for setting up the most simple example based on your instructions.

I generated a new project with:
ng new projname --routing

I generated some components to test out the SEO stuff, linked to them with routerLink, set them up with paths in the app-routing.module.ts, and did your steps:

ng build
.\node_modules\.bin\ng-render

It outputs:
[info] Rendering application

[2017-05-16 19:04] dxvladislavvolkov commented on #29
I prepared an example by simply adding these lines of code to app.module.ts
You can see the example [here](https://github.com/dxvladislavvolkov/angular-ssr-cli)

[2017-05-17 18:24] Florian007 commented on #35
Thank you for this great tool. But if I create a new own project like designcourse i get the exact same error. Only if I clone your rep, change into the "examples/cli" folder, make "npm i" and then "ng build" followed by "npm run ng-render --environment=prod --preboot=true --debug --inline" it works as expected. I compared, copied and tested the package.json, angular-cli.json and tsconfig.json to

[2017-05-18 05:12] Florian007 commented on #35
I managed to get rid of the error with replacing the content of "src/tsconfig.app.json" with the content from the original angular-ssr repository file "examples/cli/src/tsconfig.app.json" :

{
  "compilerOptions": {
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "lib":

[2017-05-18 13:54] clbond commented on #35
Hmm! There is indeed something going haywire with new `ng new` projects. I am not sure why yet. Looking into it

[2017-05-18 13:55] clbond commented on #34
`window.bootstrapApplicationState`

[2017-05-18 13:55] #34 closed

[2017-05-18 13:57] clbond commented on #33
Thank you for the bug report. This is resolved in `0.1.102`.

[2017-05-18 13:57] #33 closed

[2017-05-18 13:58] clbond commented on #28
@buu700 Are you running this in a very low-memory environment?

[2017-05-18 13:58] buu700 commented on #33
Nice! I'll update and test it out again now.

[2017-05-18 14:01] buu700 commented on #28
At the time I was running it in a Docker container with 2 GB allocated memory, but since then I've increased it to 4 GB to work around an unrelated issue with the Angular CLI (`ng serve` bug). I'll go ahead and test this again with the higher memory limit.

[2017-05-18 14:19] clbond commented on #28
Actually, I think I have resolved the issue that was causing your bug. Can you try with version `0.1.103` please? It was accidentally including all of `node_modules` when compiling the TypeScript (due to `ng new`s weird tsconfig.json structures)

[2017-05-18 14:23] clbond commented on #27
Hi @buu700. I've tried running the code in `cyph.com` and I believe it is failing due to the symbolic links inside the project.

This is where it's dying for me (on `ng build`): (note, `/Users/bond/cyph/cyph.com/src/js/node_modules/@types/node/index.d.ts` does not exist -- the right path is `/Users/bond/cyph/cyph.com/node_modules/@types/node/index.d.ts`

[code]

[2017-05-18 14:29] buu700 commented on #28
Awesome, sure, I'll report back here soon.

[2017-05-18 14:29] clbond commented on #22
Hi @DmitryEfimenko. Your project works with the latest angular-ssr, version `0.1.103`:

[code]

If you find that it's still not working for you, post a comment here and I will reopen the issue. Thank you for your bug report!

[2017-05-18 14:29] #22 closed

[2017-05-18 14:41] #29 closed

[2017-05-18 14:41] clbond commented on #29
Thank you for your bug report. This issue is fixed in `0.1.104`.

[2017-05-18 14:42] #30 closed

[2017-05-18 14:48] clbond commented on #35
This is resolved in `0.1.105`:

[code]

Thank you for your bug report!

[2017-05-18 14:48] #35 closed

[2017-05-18 14:49] clbond commented on #32
How do you manually add the doctype? To `src/index.html` or `dist/index.html`?

[2017-05-18 15:02] buu700 commented on #27
Got it, that makes sense. The Angular CLI is replacing essentially a hand-rolled build system / project structure that felt a bit fragile in its interactions with Angular-related tooling at times, so I guess it's not surprising that our pre-Angular-CLI project would blow up coming in contact with something as complicated as angular-ssr. Probably not worth fixing this if it seems like it's not some

[2017-05-18 15:06] GarryBrown commented on #32
To dist/index.html
If we run just ng build doctype exist in dist/index.html, but how i understand ather rendering(npm run build) doctype removing.

[2017-05-18 15:13] clbond commented on #32
OK, this is resolved in version `0.1.107`. It always ensures there is a `<!doctype html>` in the output now. Thank you for your bug report!

[2017-05-18 15:13] #32 closed

[2017-05-18 15:14] clbond commented on #28
I am not able to reproduce this issue anymore with projects created using `ng new`. I am pretty sure this issue is fixed but I'll wait to hear back from you before I close it

[2017-05-18 16:23] buu700 commented on #28
Yep, confirmed that it's no longer reproducible for me.

[2017-05-18 16:27] buu700 opened #36 "No NgModule metadata found for 't'"
Using angular-ssr 0.1.103 + Angular 4.1.3 + CLI 1.0.3 + rxjs 5.4.0 + zone.js 0.8.10 + TypeScript 2.3.2, the following is consistently reproducible when running ng-render. I also tried the two workarounds from #28 (tsconfig flattening, `--module`/`--symbol`) and got the same result.

Edit: also reproducible with 0.9.10.

[code]

[2017-05-18 17:28] DmitryEfimenko commented on #22
Works like a charm, thanks!

[2017-05-22 09:22] dxvladislavvolkov opened #37 "TypeError: Cannot read property 'getClientRects' of null"
getClientRects method is not implemented
You can see example [here](https://github.com/dxvladislavvolkov/angular-ssr-cli/tree/getClientRects)

[2017-05-22 14:36] dxvladislavvolkov opened #38 "navigator doesn't have platform property"
I use this property to get the platform. But I get undefined because this method is not available

[2017-05-23 06:24] ElderJames opened #39 "How to use with webpack?"
Hi!angular-ssr is actually a great done!

But I need to build the project with webpack, any help?

[2017-05-24 10:47] vlodkow opened #40 "Unable to load lazy load module"
When I try to load url from lazy load module server return right response, but when client code loaded, after few seconds content disappear (no errors in console).

When I remove lazy loading or reload page without cache all working fine.

Tested on browsers: Safari (v 10.1.1) and Chrome (v 58.0.3029.81)

[2017-05-24 11:41] vlodkow commented on #40
When I remove preboot from AppModule constructor all fixed.. preboot remove incorrect tag when call prebootClient().complete();

[2017-05-28 18:59] clbond commented on #40
If it's getting the wrong tag ID you can specify it yourself using `builder.preboot({appRoot: 'my-tag-id'})`

[2017-05-28 18:59] #40 closed

[2017-05-28 19:04] clbond commented on #37
OK, thank you for submitting your code along with the issue. There are several things wrong with what the code does and none of them involve `angular-ssr`:

[code]

This code is running in the app definition section, which means it runs before application initialization / bootstrap and before any rendering has ever happened. It is also running this code outside of the rendering context so `documen

[2017-05-28 19:04] #37 closed

[2017-05-28 19:05] clbond commented on #38
What would you expect it to return?

[2017-05-28 19:06] #27 closed

[2017-05-28 19:08] clbond commented on #36
I think this is related to your project's configuration. This does not happen in either of the example applications that are in https://github.com/clbond/angular-ssr/tree/master/examples.

Based on the error message, probably what is happening is that multiple instances of `reflect-metdadata` are being loaded into the process and you are therefore losing the decorator metadata on all of your modul

[2017-05-28 19:08] #36 closed

[2017-05-28 19:08] clbond commented on #39
Yes, no problem. There are instructions in the readme on how to do this.

Are you trying to do build-time rendering or on-demand rendering in an express server?

[2017-05-28 19:09] #28 closed

[2017-05-28 19:27] buu700 commented on #36
Hmm, well, this is just an Angular CLI project without a custom webpack configuration (our production build script `ng eject`s and adds some custom stuff, but this is just after a standard `ng build`). Could this be caused just by a library that our code depends on importing reflect-metadata?

Thanks, I'll take a look at those examples.

[2017-05-28 20:51] gaithoben opened #41 "Failed to render application: ReferenceError: jQuery is not defined"
I was trying the application. I am using Angular 4.1.0 and Jquery 3.2.1. Everything runs fine with the Angular CLI. But When i try ./node_modules/.bin/ng-render. I get an error:

**Failed to render application: ReferenceError: jQuery is not defined**
Any suggestions?

[2017-05-28 22:24] buu700 commented on #36
@clbond, found the problem, and it wasn't related to my project in particular (the same issue was reproducible with the cli example): `ng-render` doesn't like that my Docker image has node_modules located at `/node_modules`.

Is this something you think would be fixable in angular-ssr? I could work around it on my end, but it'd be a bit of a hassle, so I'd prefer to avoid it if the issue can be be

[2017-05-29 13:35] clbond commented on #41
Yes, can you run `ng-render` with the `--debug` flag and paste the entire call stack that it prints out? Probably whichever .ts module is referencing jQuery is not `import`ing it.

[2017-05-29 13:42] gaithoben commented on #41
clbond,

Please check the print out:

[info] Rendering application from source (working path: /var/folders/qw/fy6pdj413xn4lvnqt__2lyw40000gn/T/f36ba326c3a83) =
[error] Failed to render application: ReferenceError: jQuery is not defined
    at Object.module.exports.installedModules (/private/var/folders/qw/fy6pdj413xn4lvnqt__2lyw40000gn/T/f36ba326c3a83/0.js:90870:13052)
    at __webpack_require__ (

[2017-06-05 17:24] clbond commented on #41
I think you are missing an `import jQuery = require('jquery')` somewhere

[2017-06-05 17:24] #41 closed

[2017-06-07 12:17] mariohmol opened #42 "Gives error when inserting subdocs in mongoose"
Hi there!!

Awesome work, thanks a lot for this repo!!!!

I'm making an app based on that and i had a issue where i could not include a document with subdocs (schemas..).

I dont know if you can help some how, because the same code works isolated (outisde of the andular-ssr index.ts)

Here is the bug in mongoose if you would like to keep tracking

https://github.com/Automattic/mongoose/issues/5302

[2017-06-07 12:35] smoke opened #43 "Angular i18n support"
How can I pre-render project that uses couple of languages based on this guide https://angular.io/docs/ts/latest/cookbook/i18n.html and uses @angular/cli (non ejected).

I have tried a lot of things, but it seems the angular-ssr uses the source and starts the project, but there is no way I can point it to the proper translation files.
Am I missing something or this feature is not implemented? Is s

[2017-06-07 15:00] buu700 opened #44 "node_modules path exclusion"
Not sure if you saw my comment about finding the root cause of #36, so figured I should just move it over to a new ticket.

It seems that having a node_modules accessible from the temporary rendering directory causes the error I pasted (as you noted, most likely by causing multiple instances of reflect-metadata to be loaded).

Could this be resolved simply by having `ng-render` add something to th

[2017-06-07 22:05] ethanroday opened #45 "ReferenceError: CSS is not defined with @angular/material@2.0.0-beta.6"
### Bug
Calling `ng-render` results in the following error with `@angular/material@2.0.0-beta.6`:

[code]
### Steps to Reproduce
1. Create a new project using the Angular CLI with `ng new`.
2. Run `npm install --save @angular/material @angular/animations`.
3. Import `BrowserAnimationsModule` and `MdButtonModule` in the app module.
4. [Add a Material theme](https://material.angular.io/guide/getting

[2017-06-12 09:53] cyr-x opened #46 "TypeError: moduleFactory._injectorClass is not a constructor"
Bug:
I'm running into the same Error with my repo and even with your `demand-express` example. It always says:
`TypeError: moduleFactory._injectorClass is not a constructor`

The error is coming from `source/platform/platform.ts line 113`:
[code]

The argument `moduleFactory` doesn't have the attribute `_injectorClass`, it looks like that during runtime:
[code]

I'm using your demand-express examp

[2017-06-12 13:08] deepakzoto opened #47 "Error in running examples/cli"
[code]

[2017-06-12 18:06] karthicksiva opened #48 "Example of data transfer from server to client"
@clbond First of all, thanks for this great repo ! It's the first SSR solution which works as advertised. Great work 👍

I am using on-demand SSR solution using Express. Its working great. I am trying to find a way to transfer some data from Express res.locals object to client through index.html, on page load. So, I can avoid an ajax call.

Is there an example, I can refer, where this might be poss

[2017-06-13 09:54] lugkhast commented on #45
This affects me as well, except my case uses on-demand rendering. The fun part is that for on-demand this can be worked around with:

    global['CSS'] = undefined;

This appears to be caused by [Angular Material's browser checking logic](https://github.com/angular/material2/blob/master/src/lib/core/platform/platform.ts#L22).

I have yet to dive into angular-ssr's code itself, but @clbond would it

[2017-06-13 10:16] vlodkow opened #49 "Styles mess"
All styles loaded 2 times in style attributes (one from server, another when app is loaded)

[2017-06-22 15:07] JPM84 commented on #47
Same Problem here.

[2017-06-22 15:39] JPM84 commented on #47
After updating the example/cli package.json modules via ncu the resulting error-message is as follows:
```Unhandled Promise rejection: Chunk app/app.module does not have associated output files```

[2017-06-24 09:44] JPM84 commented on #47
Just tried the 0.10.16 update. The error still exists, but great to see the examples/cli project being updated.

[2017-06-24 10:46] DmitryEfimenko commented on #47
Also experiencing this error. Please use [my repository](https://github.com/NoDrainer/web) if you need one to reproduce the error

[2017-06-25 16:47] ppc52776 opened #50 "Chunk app/app.module does not have associated output files"
Hello, I can't run the ng-render. It outputs "Chunk app/app.module does not have associated output files".
Step to re-product:
[code]

angluar version:
[code]

Output:
[output.txt](https://github.com/clbond/angular-ssr/files/1100473/output.txt)
[code]

[2017-06-26 09:20] JPM84 commented on #50
Same issue as #47.

[2017-06-26 13:41] clbond commented on #47
Hi guys. This is the critical error that is causing the problem:

[code]

You should not be using `@ngtools/webpack` to compile the application in server-side rendering mode. There are issues with it. Instead, use `ts-loader`, `angular2-template-loader`, and `angular-router-loader`. ngtools should only be used for AoT builds. `ng-render` is not considered an AoT build. All AoT optimizations should

[2017-06-26 13:42] clbond commented on #49
Use `--inline=false`

[2017-06-26 13:42] #49 closed

[2017-06-26 13:43] clbond commented on #48
This is described in detail in the readme. You just call `ApplicationBuilder::stateReader` and give it your state reader class. Read this: https://github.com/clbond/angular-ssr#state-transfer-from-server-to-client

[2017-06-26 13:43] #48 closed

[2017-06-26 13:45] clbond commented on #43
`angular-ssr` doesn't really integrate with the i18n stuff (although if you define `LOCALE_ID` in your module, it will set `navigator.language` to that value). I would love to support this and if you wish to submit a PR, I would be thrilled to accept it. But honestly I am not sure it can be done in a way that works for every project. The `examples/demand-express` shows an example of how you can us

[2017-06-26 13:45] #43 closed

[2017-06-26 13:48] smoke commented on #43
Thanks for the answer.
I had actually tried implementing this, but my lack of knowledge on the angular-ssr and errors like https://github.com/clbond/angular-ssr/issues/47 have stopped me for now.

[2017-06-26 13:51] clbond commented on #50
Duplicate of #47

[2017-06-26 13:51] #50 closed

[2017-06-26 13:51] clbond commented on #46
This has been resolved in the latest builds.

[2017-06-26 13:51] #46 closed

[2017-06-26 13:52] #38 closed

[2017-06-26 13:52] #39 closed

[2017-06-26 13:53] clbond commented on #36
`node_modules` is located literally in `/` at the filesystem root?

[2017-06-26 13:54] clbond commented on #44
Ahhh, that makes sense. Hmm, I am not quite sure how to solve this. Technically the way nodejs/npm is behaving is correct for your `node_modules` layout since you really do have duplicate implementations available (in `/` and `/tmp` etc)

[2017-06-26 13:55] clbond commented on #45
I will take a look at this. The last version of material I tested was beta.3.

[2017-06-26 14:10] buu700 commented on #44
Yep, it's literally at the filesystem root. This is in a Docker image for our local development/build environment, and the node_modules were placed at the root with the intention that they would be available for any script that runs anywhere, which we hadn't expected would ever become the opposite of what we want.

If excluding `/node_modules` isn't possible, what about removing any duplicate modu

[2017-06-26 15:11] clbond commented on #43
I posted a comment in #47 about how to solve your issue. Don't use `@ngtools/webpack` for `ng-render` builds.

[2017-06-26 15:17] clbond commented on #47
Oh, you are just using the CLI ... ok, investigating

[2017-06-26 15:31] clbond commented on #47
OK, this was indeed a bug. The webpack integration code was thrown off by the fact that the module had more than one output (0.js and 0.js.map). It should exclude the map file. This is fixed in `0.10.19`.

@DmitryEfimenko I was able to build your repo with the 0.10.19 fixes:

[code]

[2017-06-26 15:31] clbond commented on #47
Please verify that `0.10.19` fixes this issue for you.

[2017-06-26 15:32] clbond commented on #45
This is resolved. Please verify that `0.10.19` fixes this issue for you.

[2017-06-26 15:34] clbond commented on #50
This has been resolved in `0.10.19` btw

[2017-06-26 16:34] JPM84 commented on #47
Thx for the quick update.
Prerendering ist working, but the output is white pages for me when I run it.
All prerender pages consist of:
`<!DOCTYPE html><html><head></head>
     <body>
   </body></html>`
Tried it also with the example project of @DmitryEfimenko.

[2017-06-26 17:00] JPM84 commented on #47
Just tried building the project without AOT (ng build --aot=false). Same result.

[2017-06-26 17:38] DmitryEfimenko commented on #47
I tried prerendering after upgrading `angular-ssr` to `0.10.19` and got the same error. At this time I had `angular-cli 1.0.3`.

After upgrading angular-cli to the latest, which is at the moment `1.1.3`, and building project, the prerender command does not throw an error, but the contents of prerendered .html files are -- just like @JPM84 mentioned:
[code]

[2017-06-26 21:09] DmitryEfimenko commented on #47
works great! Thanks for quick fix!

[2017-06-26 21:10] JPM84 commented on #47
Yeah! 0.10.22 rocks 🎉! No problem we all been there 😁 !
My project pipeline is green again 😄.
Thanks for the amazing work!
It's definitely the easiest way to prerender an angular application.

[2017-06-27 03:00] clbond commented on #47
Cool! Thanks for the bug report guys.  I really appreciate your help!

[2017-06-27 03:00] #47 closed

[2017-06-27 03:01] clbond commented on #45
Actually verify using the latest version, not 19. 19 had a separate serious bug

[2017-06-28 07:05] xtazy opened #51 "demand-express builds not working"
Hello,

When I run 'npm run build:client', I get the following errors:
`$ npm run build:client

ts-loader: Using typescript@2.4.1 and C:\cygwin\tmp\ssr\examples\demand-express\tsconfig.json
Hash: b482a775fce5eccbb399
Version: webpack 2.6.1
Time: 62498ms
     Asset       Size  Chunks                    Chunk Names
    app.js    4.67 MB       0  [emitted]  [big]  client
app.js.map    5.56 MB       0

[2017-06-28 12:32] vlodkow opened #52 "Hammer.js is not loaded"
When try to use Hummer.js on demand-express example get error from NodeJS: Error: Hammer.js is not loaded, can not bind swipeleft event

[2017-06-28 15:21] buu700 commented on #51
You may just need to [upgrade rxjs to 6.0.0-alpha (or downgrade typescript to 2.3.4)](https://github.com/ReactiveX/rxjs/issues/2539) and install @types packages for all the mentioned missing type definitions (@types/node, @types/uglify-js, etc.).

[2017-07-06 08:49] rijine opened #53 "Converting existing angular project to ssr"

[2017-07-06 12:19] ConquerorsHaki opened #54 "Multiple root @NgModule discovered"
I get the above error when I execute ./node_modules/.bin/ng-render

Can you tell me how to tell ng-render what the "correct NgModule" is?
Or how to use ng-render if there are multiple NgModule s ?

[2017-07-06 12:59] wnabil opened #55 "ng-render: Cannot read property 'title' of undefined"
i copied the example/cli and put my source code
then installed my dependencies
i almost disabled everything in my application to fix this error but sadly no luck.

`[error] Fatal exception encountered: TypeError: Cannot read property 'title' of undefined 0l
[error] Failed to render application: Error: Fatal renderer exception: TypeError: Cannot read property 'title' of undefined
    at SafeSubscri

[2017-07-09 10:05] wnabil commented on #55
fixed
`rm -R node_modules
rm package-lock.json
npm cache clear
npm install`

[2017-07-09 10:05] #55 closed

[2017-07-10 14:47] wnabil opened #56 "Unable to build with lazyloaded modules"
I found no errors at all when i try to run my application without the lazyloaded modules.
but when i enable them inside the app routes i got webpack error message :
`
[error] Fatal exception encountered: Error: Cannot find a webpack chunk with the name ./test/test.module 0l
[error] Failed to render application: Error: Fatal renderer exception: Error: Cannot find a webpack chunk with the name ./tes

[2017-07-13 23:32] galtalmor opened #57 "Cannot find module '@angular/platform-browser'"
I'm trying to run the simple setup of `ng-render` for the first time on a pretty simple Angular 4 app I have.
For some reason I get the error `Unhandled Promise rejection: Cannot find module '@angular/platform-browser'`.
I couldn't find anything related here or on Google, so any help would be appreciated.

Obviously I am using the `platform-browser` in my AppModule in the standard way:
`import { B

[2017-07-14 09:02] ericel commented on #47
I am having this with angularfire2 when I run `npm run build`
[code]

Any thing I can do to fix this?

[2017-07-16 21:40] adwaer opened #58 "dynamic data rendiring"
Hello!
Ur package good working!
But.. :)
How to make my dynamic data render? I have read about preboot, and prerendering (where to pass this code?..)

I have custom dynamic text directive and i want ssr to render it. There my directive module:
[localization.zip](https://github.com/rangle/angular-ssr/files/1151366/localization.zip)

App.module looks like root.module.ts in the demand-express

[2017-07-18 08:32] wnabil commented on #57
Oh i think this is not related to angular-ssr
You need to run
`npm install --save @angular/platform-browser`

[2017-07-18 09:53] galtalmor commented on #57
@wnabil I have the package installed and it works in normal usage with angular build and serve.
I only get this error when running angular-ssr.
But just to re-validate, I tried to reinstall it and run angular-ssr again, like you suggested, and got the same result.

[2017-07-18 10:11] wnabil commented on #57
Well i am using the angular ssr express and everything is working fine
i suggest you to copy that example from the examples folder and copy your code inside it.
this is what i did and everything is working fine without any problem.

[2017-07-18 10:25] galtalmor commented on #57
@wnabil Okay, will try that. Thanks for the suggestion.

[2017-07-18 11:22] Simon-Bru opened #59 "ng-render holds on first info log"
Hello,
I have an issue when  I run
`ng-render -p src/tsconfig.json`
The console holds on the first log:

`[info] Rendering application from source (working path: /tmp/f972bac77967d) [=0l`

I see the working directory is wrong as it should be "/user/me/myapp" or something but I didn't figure out how to fix it.
My application has been created with angular-cli, and uses embedded webpack config (it's

[2017-07-18 13:13] tamascsaba commented on #56
+1 for me

[2017-07-18 13:16] wnabil commented on #56
i am not using the cli version right now as i tested the express and it works.
but maybe this will be fixed when they notice it.

[2017-07-18 14:26] rafinskipg commented on #49
@clbond  how do we add the option if we are using the "on demand" rendered with express?

[2017-07-18 14:27] rafinskipg commented on #53
@rijine  please fill the PR information about what it's exactly your problem and how the community can help you

[2017-07-19 14:36] rafinskipg opened #60 "On demand rendering with query parameters does not match route"
Hi!

Using the on demand render with express we are experiencing 404 errors because the application is not being able to process query parameters of a url.

If we remove the query parameters the application is being able to render the correct page ` application.renderUri(uri)` , but with query parameters not.

We have removed the query parameters but we know this is an undesired behaviour that can

[2017-07-24 12:36] mariohmol opened #61 "Error: Your application is conducting an HTTP request from outside of a zone!"
Hi there,

again great repo, thanks!!

My app is running and semms to be all working, but on log i can see this error (running in prod).

Any ideas what that might be?

[code]

Thanks

[2017-07-25 11:02] Masquer opened #62 "jQuery is undefined"
What is the proper way of including jQuery to server build?
At the moment I have it listed as entry at webpack config and declared at components where needed:
webpack.config:
[code]
component.ts:
[code]

While moment.js is working fine, jQuery doesn't; its not even exposed to my components.
What do I do to properly include it in?

[2017-07-25 11:34] ktersius opened #63 "Angular Flex Layout Styling Issue"
I got the whole project working. The current problem I'm facing now is that it looks like the baseStyles are staying applied on all the elements.

Most of the rendered html that comes back from the server have the following styles applied which are overwriting the actual styles.

[code]

Am I doing something wrong? Should this not be stripped away to allow normal styles to take over?

[2017-07-25 12:11] ktersius commented on #63
Ok I'm fooling around. I removed angular flex layout and this seemed to fix the styling issues I'm experiencing. So somehow having @angular/flex-layout module is affecting this.

[2017-07-25 22:43] e-schultz commented on #61
Do you have an example of where the `Http` module is being called in your code - trying to see what could be causing it to be called outside of a zone.

[2017-07-25 22:45] e-schultz commented on #57
are you still having an issue with this?

[2017-07-25 22:52] mariohmol commented on #61
Based on my log.. is the normal / endpoint, where 99,9% of the times works. it's kind rare to see this error.. can you explain what `outside of a zone` means in that case?

[2017-07-26 03:00] SwamyKottur opened #64 "NodeModule.js and osenv.js errors while building using webpack 2.4.1"
ERROR in (webpack)/lib/NormalModule.js
    Module not found: Error: Can't resolve 'module' in '/Users/jagger/Documents/work/github-projects/angular2-mgnl-poc/node_modules/webpack/lib'
     @ (webpack)/lib/NormalModule.js 8:21-38
     @ (webpack)/lib/NormalModuleFactory.js
     @ (webpack)/lib/Compiler.js
     @ (webpack)/lib/webpack.js
     @ ./~/angular-ssr/build/application/compiler/webpack/comp

[2017-07-26 06:26] ktersius opened #65 "ViewChild/ ElementRef gets server side elements instances instead of client side."
If you inject any elements into your component with ViewChild or ElementRef the nativeElements are the hidden server side rendered elements instead of the client side rendered elements.

This happens because the components are instantiated before preboot can clean up the DOM to give the user a nice transition from server to client rendered html.

I suspect angular assumes there are only one instan

[2017-07-26 06:27] ktersius commented on #63
Closing this since it is most likely not directly related to angular-ssr.

[2017-07-26 06:27] #63 closed

[2017-07-26 08:20] ktersius commented on #65
So for now I have solved this be getting all elements with a certain class and using the element whose dimensions are > 0.

[code]

[2017-07-26 08:50] galtalmor commented on #57
@e-schultz Yep. Couldn't get neither ng-render nor ssr express working.
With ng-render the problem stayed the same. I couldn't figure out what's the issue with platform-browser.
It is installed and working perfectly on standard client, but not with ng-render.

[2017-07-26 20:56] #62 closed

[2017-07-28 10:24] ktersius commented on #49
@clbond I would also be interested in this.

I'm getting duplicated styles, another issue I'm experiencing is that host style attributes are being applied on the wrong elements as well. Still troubleshooting this issue.

[2017-07-28 14:12] Masquer commented on #60
I've worked it around by encodeURIComponent'ing urls at server and decoding them back at Angular's NavigationStart event.

[2017-07-31 09:08] patrickhoppler commented on #45
Sorry for taking a while to check -- I can confirm that, at least for my case, this bug has been fixed. Commented out my own workaround, and the serverside render works as expected. Thanks!

[2017-07-31 09:09] lugkhast commented on #45
Sorry for taking a while to check -- I can confirm that, at least for my case, this bug is now fixed. Commented out my own workaround, and the serverside render still works as expected. Thanks!

[2017-08-04 08:06] navin10sharma opened #66 "different behavior sometime in server-side rendering at build time"
Hello guys

Thanks for this wonderful module .

I have one one angular 4 app and i try to render it on build time and uploaded to my aws s3 bucket .

1. First issue once page you can see header part load with just HTML then css load after sometime and then apply on header parts.

2. Another issue i thought once initial home page load rest all the page load in background and app will behave like si

[2017-08-04 15:32] ethanroday commented on #45
@clbond My project has altered its technology stack a bit recently, so I don't have an easy way to test anymore. I will consider this resolved in light of @lugkhast's verification.

[2017-08-04 15:32] #45 closed

[2017-08-05 13:26] ElderJames opened #67 "The blog content disappear when I refresh the page.(demand-express example)　"
I run the demand-express example by run the command `npm start` and access http://localhost:8080/blog/1,then the blog content appear but it disappear when I refresh the page

[2017-08-10 01:25] lugkhast commented on #60
Have you checked the value of the URI passed into `renderUri` on the server side?

I had this problem with code from the Express example. I used that as a starting point for my app, and found that its `absoluteUri` function was messing up the query params.

[2017-08-11 20:47] Gedminas opened #68 "Can not replicate easy build - Module not found: Error: Can't resolve './app.ts'"
I'm not denying that there may be something wrong with my configuration. Any guidance is greatly appreciated.

[code]

output:
[code]

versions
[code]

TL;DR
using standard ng-cli build ended up with `Module not found: Error: Can't resolve './app.ts' in '/media/user/local_disk/PROJECTS/xxxxxx-ng4/src'` quick glance at example cli project didn't find clues

[2017-08-12 13:18] clbond commented on #68
Hi @Gedminas. Gimme a minute. I will take a look

[2017-08-12 13:26] clbond commented on #66
Hi @navin10sharma. From what I can tell your site is working great. The pages are properly server-side rendered (products, services, etc). preboot is capturing clicks and replaying them correctly.

Your site does have some performance problems but those don't seem to be related to server-side rendering. Your homepage has 8MB worth of images it has to download in order to finish rendering. You shou

[2017-08-12 13:26] #66 closed

[2017-08-12 18:24] Gedminas commented on #68
@clbond thanks, If you need any more input or additional configs/testing let me know.

[2017-08-12 20:43] ffluffyhedgehog opened #69 "No ssr on certain routes."
Hi!

Some of routes in my application are dynamic and different for each user. How do I protect these routes from being server-side rendered?

[2017-08-13 10:03] clbond commented on #68
HI @Gedminas. I am able to use the latest ng cli to generate a new project and I can  run `ng-render` on it successfully. Log pasted below. If you are still having this issue can you point me to your code repository so I can use that to reproduce the issue. Because as it stands right now I can't reproduce it.

[2017-08-13 10:03] #68 closed

[2017-08-13 10:07] clbond commented on #69
@ffluffyhedgehog Just specify *`server: false`* in the route configuration itself. Any route subtree which you do not want to be server-side rendered. Alternatively, you can use `--blacklist=true` to _exclude all routes from ssr by default_, and then *`server: true`* in the route configuration to note that you *do* wish to render that route. Only route trees with `server: true` will be rendered if

[2017-08-13 10:07] #69 closed

[2017-08-13 10:08] clbond commented on #65
@ktersius Can you point me to a code example so that I can reproduce this?

[2017-08-13 10:14] clbond commented on #61
@mariohmol OK what is happening here is that some code executing _outside of a zone_ is attempting to create an HTTP request. This is problematic because it means `angular-ssr` cannot wait for your HTTP request to finish before it renders the page. Therefore whatever is being retrieved is not yet going to have arrived when the final render happens.

This is most likely a bug in your code, not in `

[2017-08-13 10:14] #61 closed

[2017-08-13 10:17] clbond commented on #61
In the past I have seen this issue with some translation libraries which attempt to retrieve their translation JSON and they are doing so with or `XMLHttpRequest` or a polyfilled `fetch()`which itself uses `XMLHttpRequest`.

To solve this issue, put a breakpoint in `XMLHttpRequest` constructor in `xhr2.js` and see what is constructing the request in the first place. Look at the call stack. Almost

[2017-08-13 10:19] clbond commented on #64
Can you please link to a repository where the problem is reproducible?

[2017-08-13 10:22] clbond commented on #60
Using query parameters with server-side rendering really isn't a good idea... there's nothing in `angular-ssr` that prevents you from using them but if you are just copy-pasting the example code, it will strip query parameters. You should not just assume that the code from the example is exactly perfect for your particular scenario. You should try to understand what it is doing. If you want to use

[2017-08-13 10:22] #60 closed

[2017-08-13 10:23] clbond commented on #44
angular-ssr doesn't have any logic about how to handle `node_modules`. That is all built into node / npm / webpack. There's really nothing I can do about it. It is always going to search parent directories for `node_modules`.

[2017-08-13 10:23] #44 closed

[2017-08-13 22:30] mariohmol commented on #61
Thanks for your answer! Not getting this issue anymore, good to know if i get this again will debug.

What i have now is all the requests doing based on Http from '@angular/http' (at least in the app itself)

I have some outside js scripts that are included in the html like, gmap, analytics , facebook and twitter da do requests as well... is thai considered in this warning as well?

[2017-08-15 13:47] SwamyKottur commented on #56
I am having similar problem when my route ts has loadChildren

[2017-08-15 13:52] wnabil commented on #67
same here :\

[2017-08-15 14:00] abdalrhman-alhomsi commented on #67
+1, the same here too....

[2017-08-17 13:34] mariohmol opened #70 "Shim errors on Demand Express example"
Hi!

Again awesome module!

I had this working in a previous version and cause of this fix https://github.com/rangle/angular-ssr/issues/45 , i had to migrate to new.

Well.. did all changes based on the demand-express example and everything seems to be working pretty good =)

The only thing that i had to do different is add `import 'reflect-metadata';` in server `index.ts` , unless i was getting t

[2017-08-17 15:05] wnabil commented on #67
After looking at the main cause of this problem I notice that it is related to the Angular/preboot.
as a temp fix for this I commented out this line :
`setImmediate(() => prebootClient().complete());`
inside the root.module.ts file
and the problem was gone.

[2017-08-23 10:41] rafinskipg commented on #60
@clbond  there are certain implementations like using query parameters for pagination in some lists, it is not all about good looking urls but certain business logic implementations that need to be considered. But thank you, i will take a look at the request handler and see if i can manage to change it.

Peace

[2017-08-23 15:35] mariohmol opened #71 "Shows content but clears afterwards"
Hi there!

I've been using this module for a while and since i upgraded to the latest version i'm having a weird cenario.

When the page first loads (in a incognito window) it shows me the home content but just after it clears all the content under `<application>` and shows a blank page.

If i refresh everything appears.. i tryied to debug and seems to be executing the onInit on the  `app.componen

[2017-08-23 16:35] mariohmol commented on #71
Totally intermitent , trying to remove some html and run again.. sometime loads at first time. some time not.. some times have to open incognito like 5 times to make the error appear.. =(

[2017-08-24 00:04] mariohmol commented on #42
After updates in mongo and angular-ssr not having this issue anymore, we had a good discussion here as well that might help who gets here https://github.com/Automattic/mongoose/issues/5302#issuecomment-306662162

[2017-08-24 00:04] #42 closed

[2017-08-24 00:12] mariohmol commented on #70
made a PR instead of issue

[2017-08-24 00:12] #70 closed

[2017-08-24 00:55] mariohmol commented on #71
I figure it out... basicly i changed my app to be feature style, so i have a bunch of angular modules.. and i had a cycle reference... ( a module calling a service for other modules that was not included as a shared)

using `ng serve` it was working always.. and in ssr was intermitent..

anyways.. so far so good!! thanks

[2017-08-24 15:08] mariohmol commented on #71
I continue with this issue.. dont know what to do.. 3 days in a row ... testing all day long.. could not make progress.. will drop ssr for now =(

[2017-08-24 17:30] mariohmol commented on #71
Hi.. OMG.. i tested so many things.. i think that the last thing that i changes.. was something related to cache and providing app.js ... for some reason the app.js was returning a HTML and not a JS..

and now everything makes sense.. why this was intermitent... as some times app.js was not coming.. this was taking the HTML coming from the server and removing it... because was missing the app.js

[2017-08-24 21:48] mariohmol commented on #71
Sorry... but still having this issue... had to disable ssr to make it work =(  .. it works perfect without the ssr

as I said is intermitent..  at least on chrome.. i just saw the in firefox always gives this error... load the html from the `/` request and after loads the `app.js` it removes everything from `<aplication`

if you would like to have access to a live version with the error.. please s

[2017-08-24 22:49] mariohmol commented on #71
When i remove `builder.preboot(true)` it seems to be working again..

[2017-09-01 10:19] misticwonder commented on #71
I have the same error. How to fix preboot? What version of preboot can we use with ssr?

[2017-09-05 11:53] ktersius commented on #52
ERROR Error: Hammer.js is not loaded, can not bind swipeleft event
    at HammerGesturesPlugin.supports (...node_modules\@angular\platform-browser\bundles\platform-browser.umd.js:3208:19)
    at EventManager._findPluginFor (...packages\platform-browser\src\dom\events\event_manager.ts:80:1)
    at EventManager.addEventListener (...node_modules\@angular\platform-browser\bundles\platform-browser.umd.

[2017-09-06 06:05] ktersius commented on #71
I experienced something similar, it goes away if you do a hard refresh or disable caching in chrome devtools. I think it is some sort of timing issue because if you throttle the chrome speed in dev-tools all seems to work again.

[2017-09-06 11:50] mariohmol commented on #71
@ktersius indeed.. i experienced the same.. but even ith hard refresh.. some times it gave me the same error.. did u try to remove the preboot to see if that goes away?

[2017-09-11 10:13] ktersius opened #74 "SSR Performance App Startup and Rendering Times"
We are using the angular-ssr project to implement our SSR solution. In doing some tests we felt that we should look into getting the most performance out of the SSR solution.

I noticed that all samples are using JIT compilation. Is AOT for the server side rendered application possible? I tried looking around but did not see any sample webpack configurations on how one would accomplish this.

I no

[2017-09-13 19:18] SwamyKottur commented on #64
@clbond this issue is now fixed. But i have 1 more question does SSR and Dynamic SSR work on a project which has angular-redux as well along with angular-material?

[2017-09-14 07:36] acb2jose commented on #56
i have the same problem...my app work good without lazy loading but not work with it and i think that it is very important.
If somebody have the solution for that, please  share it
thank....

[2017-09-18 23:35] clbond commented on #67
Unfortunately I cannot reproduce this. Can you tell me what the initial HTTP request gives back in its body? Anyone - @ElderJames @wnabil @abdalrhman-alhomsi

[2017-09-18 23:37] clbond commented on #74
JiT compilation is only done on server startup. From then on, the compiled application is kept in memory and it is always bootstrapped from the precompiled in-memory ('AoT') version.

[2017-09-18 23:37] #74 closed

[2017-09-18 23:39] clbond commented on #71
This may mean your application is failing to boot properly. At startup, we create a second root `<application>` (eg) element and once it is populated with rendered content, preboot hides the server-provided root tag and makes visible the client-built one. If it is disappearing, I would try debugging your application bootstrap process. And where are you calling `preboot.complete()` from?

[2017-09-18 23:40] clbond commented on #59
The directory is right - it builds to a temporary directory. If it never succeeds and just hangs, that's very unusual. What is your app doing on startup? Can i see the code?

[2017-09-18 23:47] mariohmol commented on #71
Thanks for answering! Is this correct?

[code]

[2017-09-18 23:51] clbond commented on #64
Yes, it absolutely works with Redux. But keep in mind that Redux will run on the server the same way it runs on the client. Additionally, if you want to transfer the current Redux state from server to client, you should use the `builder.stateReader()` functionality to query the current Redux state. Then it will be available in the client app on startup as `window.applicationState` (if I am remembe

[2017-09-18 23:51] #64 closed

[2017-09-18 23:55] clbond commented on #54
Hmm, it shouldn't be picking up the `NgFactory` one. Do you have one call to `bootstrapModule` and one to `bootstrapModuleFactory` depending on some configuration data?

Anyway to get around this, just specify `--module` and `--symbol` to specify your bootstrap `NgModule` (file + symbol name respectively) and then it will avoid all that autodetection behaviour.

[2017-09-18 23:55] #54 closed

[2017-09-19 00:00] clbond commented on #57
@galtalmor Neither of the example repos work for you? I just fetched the latest and was able to build and run both of them. Are you sure that module is installed? Can you do `ls node_modules/@angular/platform-browser`?

[2017-09-19 00:04] clbond commented on #58
The issue is with assignment of `innerText`. I don't think that works with domino. Try using a regular Angular way of rendering the text eg `{{localizedText | async}}` in your template.

[2017-09-19 00:04] #58 closed

[2017-09-19 00:04] #53 closed

[2017-09-19 00:06] clbond commented on #52
Hmmm, strange. I am unable to reproduce. `demand-express` most certainly imports hammerjs. In main.ts:

[code]

Did you make any local changes?

[2017-09-19 11:38] wnabil commented on #67
I tested the example app and also has the same behavior, I think there is something wrong with preboot.

[2017-09-20 23:22] SwamyKottur opened #75 "Error on postbuild:ng-render"
@clbond

{ Error: Hash: f035cd159f5aa4b9d6aa
   Version: webpack 3.5.6
   Time: 3203ms
      Asset     Size  Chunks  Chunk Names
       0.js  1.08 kB       0  app/app.module
   0.js.map  6.51 kB       0  app/app.module
   [Cos1] ./src/app/app.module.ts 509 bytes {0} [built] [failed] [1 error]
      [0] multi ./app/app.module.ts 28 bytes {0} [built]

   ERROR in ./src/app/app.module.ts
   Module bu

[2017-09-21 10:16] misticwonder commented on #71
This problem only in chrome browser with browser cache enabled.

[2017-09-21 13:59] JinSY commented on #52
@clbond I did a little digging since we were running into some similar issues. I wasn't able to reproduce in the `demand-express` example but I was able to reproduce in the `cli` example as well as another barebones cli project with angular-ssr. Just attach a swipe event to an element and it'll throw this error

[2017-10-04 19:41] clbond commented on #75
Your TypeScript version is out of date. Bring it up to date (2.3 i think)

[2017-10-04 19:41] #75 closed

[2017-10-04 19:44] clbond commented on #71
Can I have access to your code? Are there uncaught exceptions being thrown (either on the server or the client)? It's impossible for me to debug without the code.

[2017-10-10 10:25] gearguy365 opened #77 "Can't dispatch ngrx/store action more than once from a lazy loaded module"
when i dispatch an ngrx/action from a lazyloaded module in my application, the dispatcher receives it only the very first server render. when renderUri is called a second time(by reloading the page) the dispatcher is never triggered.

[2017-10-11 10:19] BlankHrt commented on #45
Have you solve it yet?

[2017-10-11 21:36] mariohmol commented on #71
Hi.. yes i know.. its hard.. but is no errors at all.. if you would like to.. we can do a call and i show you what is happening.. there is my email in my profile.. just let me know

[2017-10-19 11:24] gearguy365 opened #78 "route specific style tags only loaded first time"
i am using angular ssr on my multi route application with angular material. however, the route specific style tags in the output html are included only the first time. for example if localhost:8080/route1 uses md-card and md-button, the specific styles of these components are only loaded the first time. upon refreshing the route these style tags are not included anymore and therefore appears broke

[2017-10-21 00:24] clbond commented on #77
Thank you for your report. Can you link to your code or provide a reproduction repo for me?

[2017-10-21 00:29] clbond commented on #67
I have removed the `setImmediate` call in the example as it was unnecessary. Does this fix your issue? Maybe you are using an old Chrome that doesn't have setImmediate?

[2017-10-21 00:29] #59 closed

[2017-10-21 00:30] clbond commented on #71
I have removed `setImmediate` from the example. Can you tell me if this fixes your issue? Perhaps you are using a browser that doesn't support `setImmediate`

[2017-10-21 00:31] clbond commented on #52
Did you import `hammerjs`? There's no reason it shouldn't work

[2017-10-21 00:31] #51 closed

[2017-10-22 09:16] wnabil commented on #67
My chrome is at latest version and this issue happened also on firefox for me not only chrome.
Yes removing `setImmediate` works but also need to remove `builder.preboot(true);` in `server/index.ts`.

[2017-10-25 19:43] SwamyKottur opened #81 "Build Issues"
/Users/jagger/Documents/work/destination-discovery/node_modules/@angular/core/bundles/core.umd.js:1362
    return Error('Cannot resolve all parameters for \'' + stringify(typeOrFunc) + '\'(' +
           ^
Error: Cannot resolve all parameters for 'ServerPlatform'(?). Make sure that all the parameters are decorated with Inject or have valid type annotations and that 'ServerPlatform' is decorated wi

[2017-10-26 17:21] Amos47 opened #82 "Loading stylesheets in reverse order"
I am trying to configure webpack, but there seems to be an issue with the loading order.

I have some global styles and the component styles.

When I run the app with `ng serve` the component styles load after the global files, allowing them to overwrite the global styles.

When I run with `angular-ssr` though my webpack config, it loads the global `styles.scss` after loading the application. I ca

[2017-10-29 03:09] SwamyKottur opened #83 "Examples are not working"
ng-render on cli fails and says couldn't fine ./app.module

[2017-10-30 16:56] Amos47 commented on #82
I also tried running `ng eject` which created a new webpack from angular cli.

I then copied it over to the the `webpack-server.config.js` and changed the entry point with the same result. Running just the front end works.

I'm hoping this isn't an unfixable issue. Having different style loading order in dev setup and our production setup is going to be an issue.

[2017-10-31 19:45] juanpmarin opened #84 "How to access a cookie on both platforms"
Hi, I need to access a cookie from server and browser, I thought about use a Varian but the cookie has not static values (it's an auth token), do you know a way to access it ?
Thanks !

[2017-11-06 16:59] DenisLaboureyras opened #85 "Compatibility with Angular 5"
Hello,

Thanks for your awesome plugin, I've used it for 3 months now and it works like a charm.
I've tried today to upgrade my app to Angular 5, I managed to do it on my client config, but the server build is throwing me a lot of errors (see below).
Am I doing something wrong or do you plan on upgrading your module to Angular 5 ?

Kind regards,
Denis

ERROR in ./node_modules/angular-ssr/build/app

[2017-11-07 12:18] triadiprabowo commented on #84
@juanpmarin have you find this solution?

[2017-11-07 13:27] juanpmarin commented on #84
@triadiprabowo yes, but not using angular-ssr, I had to migrate to angular 5 and the express universal engine, angular 5 now comes with state transfer out of the box

[2017-11-07 18:40] juanpmarin commented on #84
@triadiprabowo this is the implementation that I based on
https://github.com/patrickmichalina/fusebox-angular-universal-starter/blob/master/src/client/app/shared/services/cookie.service.ts

[2017-11-07 21:44] lpmusicon commented on #85
Hey,
I'm getting different error on ng5 using static rendering:
`/mnt/c/Users/user/Documents/GitHub-Projects/myproject/node_modules/angular-ssr/build/platform/document/tokens.js:3
exports.TemplateDocument = new core_1.OpaqueToken('TemplateDocument');
                           ^

TypeError: core_1.OpaqueToken is not a constructor
    at Object.<anonymous> (/mnt/c/Users/user/Documents/GitHub-Projec

[2017-11-09 05:33] triadiprabowo commented on #84
@juanpmarin thank you man, it is working now. I used universal-starter (angular 5) and some setup from your given repo for cookies and state transfer.

[2017-11-28 13:57] anvial commented on #85
I've the same problem, is there any solution of this issue?

[2017-11-28 14:25] lpmusicon commented on #85
@anvial If your app really depends on this SSR package I'd consider staying on ng4. However, if you can use dynamic prerendering in node you should definitely check out angular/universal package

[2017-12-01 21:01] deepakpapola opened #86 "Cannot find module './app.module'"
### after run this code
`./node_modules/.bin/ng-render`
[code]

cannot find ./app.module which is root module of app.

[2017-12-01 21:17] mariohmol commented on #71
Guys, i'm not experiencing this anymore.. even putting preboot back... thanks anyway =)

[2017-12-01 21:17] #71 closed

[2017-12-15 22:49] seanmavley commented on #85
@DenisLaboureyras Great. You have any write-up about your steps?

[2017-12-17 17:11] lpmusicon commented on #85
@seanmavley Are You looking for static or dynamic prerendering?

[2017-12-22 19:40] clbond commented on #81
Can you please point me to a repo where this is failing? The examples still work for me

[2017-12-22 19:41] clbond commented on #83
The examples are working for me. Can you point me to a repo where it's failing so I can repro?

[2017-12-26 23:48] monoflash commented on #85
There, in plain Russian, it's written: "The official example on the english language: https://github.com/angular/universal-starter"

Who does not know Russian, welcome: https://github.com/angular/universal-starter

[2018-03-19 00:43] bhavjot commented on #64
@SwamyKottur Can you please let me know how did you fix this issue,as I am having similar errors. Thanks

[2018-03-20 03:39] SwamyKottur commented on #64
@bhavjot here is the repo to working demo of angular-ssr as suggested by @clbond it will work with redux too but i haven't integrated that in this repo

[2018-11-07 01:41] galtalmor commented on #57
Well, this is a year old issue.
Probably not relevant anymore, so I'm going to close it.

[2018-11-07 01:41] #57 closed

[2018-11-07 14:40] IvanovAndrei1980 commented on #64
@SwamyKottur and what is that you done to get rid of the oeenv error?
I

[2019-06-14 19:13] mrinaljain commented on #52
Make sure you are using ` import 'hammerjs'; `
and not using  ` import { hammerjs } from "path to hammer js";
`

[2020-02-29 05:47] assadpeople commented on #57
asd

[2020-08-01 17:59] dxm99 commented on #52
Unless you use custom baseUrl and path. Then you will have to use` import '../node_modules/hammerjs';`